{% extends 'layout.html.twig' %}

{% block content %}
<h2>Let the music play</h2>
    <video controls autoplay class="music-player">
        <source
            src="{{ trackURL }}"
            type="audio/mpeg"
            class="music-source"
        >
    </video>
{% endblock %}


