<nav class="side-navbar">
    <ul class="list-label-sideNavbar">
        <li><a href="/home" class="left-navbar-labels logo"><img src="/assets/images/logo-wildify-desktop.svg"
                                                                      alt="logo wildify"></a></li>
        <li><a href="/setting/profile?id={{ user.ID_user }}" class="left-navbar-labels list profile">Settings</a></li>
        <li><a href="" class="left-navbar-labels list liked">Liked songs</a></li>
        <li><a href="" class="left-navbar-labels list playlist">My playlist</a></li>
        <li><a href="" class="left-navbar-labels list addmusic">Add music</a></li>
        <li><a href="" class="left-navbar-labels list contact">Contact</a></li>
    </ul>
</nav>
