<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/logo-wildify-mobile.svg">
		<link rel="stylesheet" href="/assets/css/style.css">
		<title>
			{% block title %}{% endblock %}
		</title>

		{# ------------------- Top navbar --------------------------------------------------------------------------- #}
		{% include 'Navbars/TopNavbar.html.twig' %}

	</head>
	<body>

		<div class="middle-section">

			{# -------------------------------SIDE NAVBAR--------------------------------------------- #}
			<input type="checkbox" class="expand-side-navbar" id="expand-side-navbar" onclick="document.getElementById('expand-profile-checkbox').checked = false, document.getElementById('expand-admin-checkbox').checked = false"/>
			<div class="side-navbar">
				{% include 'Navbars/SideNavbar.html.twig' %}
			</div>

			{# ------------ MAIN BLOCK content for home page/profile/song search etc. ------------------------------- #}
			<div class="main-block">
				{% block content %}{% endblock %}
			</div>

		</div>
        <script src="/assets/js/modal_connect.js"></script>
		</body>

	</html>
