<nav class="left-navbar menu-labels">
	<label class="expand-label" for="expand-side-navbar"><img class="arrow-icon" src="/assets/images/Navbars/icon-left-arrow.png" title="Hide / Show Navbar" alt="Hide / Show Navbar"></label>
	<ul>
		<div
			class="home-menus">

			{# ------------------------ IF user is LOGGED IN, show welcome text---------------------------------------------------- #}
			{% if user.role == 'artist' or user.role == 'user' or user.role == 'admin'%}
				<li>
					<p class="welcome-user-leftNavbar">Welcome,
						{{ user.username }}!</p>
				</li>
			{% endif %}

			<li>
				<div class="link-animation-container">
					<a href="/" class="link-animation" title="Home" alt="Home"><img class="home-icon side-navbar-icons" src="/assets/images/Navbars/icon-home.png"><p class="hide-labels">Home</p>
					</a>
				</div>
			</li>
			{% if user.role == 'artist' or user.role == 'user' or user.role == 'admin'%}
				<li>
					<div class="link-animation-container">
						<a href="#" class="link-animation" title="Create Playlist" alt="Create Playlist"><img class="list-icon side-navbar-icons" src="/assets/images/Navbars/icon-list.png"><p class="hide-labels">Create Playlist</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="#" class="link-animation" title="Liked Songs" alt="Liked Songs"><img class="heart-icon side-navbar-icons" src="/assets/images/Navbars/icon-heart.png"><p class="hide-labels">Liked Songs</p>
						</a>
					</div>
				</li>
			{% endif %}
		</div>

		{# ------------------------ IF user is LOGGED IN, show settings menus ---------------------------------------------------- #}
		{# ------------------------ SETTINGS menus ------------------------------------------------------------------ #}
		{% if user.role == 'artist' or user.role == 'user' or user.role == 'admin'%}
			{# or user.role ISSET #}
			<input type="checkbox" class="expand-profile-checkbox expand-checkbox" id="expand-profile-checkbox"/>
			<div class="link-animation-container">
				<label class="settings-admin-labels link-animation" for="expand-profile-checkbox"><img class="settings-icon side-navbar-icons" src="/assets/images/Navbars/settings.png"><p class="hide-labels">Settings</p>
					<img class="settings-arrow-icon menu-arrow-icon" src="/assets/images/Navbars/icon-left-arrow.png" title="Hide / Show Settings" alt="Hide / Show Show Settings">
				</label>
			</div>
			<div class="profile-menus">
				<li>
					<div class="link-animation-container">
						<a href="/setting/profile?id={{ user.ID_user }}" title="Profile" alt="Profile">
							<p class="hide-labels link-animation">Profile</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="#" title="Add music" alt="Add music">
							<p class="hide-labels link-animation">Add music</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="#" title="Manage my tracks" alt="Manage my tracks">
							<p class="hide-labels link-animation">Manage my tracks</p>
						</a>
					</div>
				</li>
			</div>
		{% endif %}

		{# ------------------------ IF user is LOGGED IN as ADMIN, show Admin menus ---------------------------------------------------- #}
		{# ------------------------ ADMIN menus ------------------------------------------------------------------ #}
		{% if user.role == 'admin'%}
			<input type="checkbox" class="expand-admin-checkbox expand-checkbox" id="expand-admin-checkbox"/>
			<div class="link-animation-container">
				<label class="settings-admin-labels link-animation" for="expand-admin-checkbox"><img class="admin-icon side-navbar-icons" src="/assets/images/Navbars/admin.png"><p class="hide-labels">Admin<img class="admin-arrow-icon menu-arrow-icon" src="/assets/images/icon-left-arrow.png" title="Hide / Show Admin settings" alt="Hide / Show Admin settings"></p>
				</label>
			</div>
			<div class="admin-menu">
				<li>
					<div class="link-animation-container">
						<a href="/setting/admin" title="Manage all users" alt="Manager all users">
							<p class="hide-labels link-animation">Manage all users</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="/setting/admin/manageMusics" title="Manage all tracks" alt="Manager all tracks">
							<p class="hide-labels link-animation">Manage all tracks</p>
						</a>
					</div>
				</li>
			</div>
		{% endif %}

		<li>
			<div class="link-animation-container">
				<a href="#" class="link-animation contact" title="Contact" alt="Contact">
					<p class="hide-labels contact-label">Contact</p>
				</a>
			</div>
		</li>

		{# ------------------------ IF user is LOGGED IN show logout bttn if not show login bttn-------------------------------- #}
		{% if user.role == 'artist' or user.role == 'user' or user.role == 'admin'%}
			<div class="logout-bttn-leftnavbar">
				<li>
					<a href="/logout" title="Logout" alt="logout">
						<p class="default-bttn">Logout</p>
					</a>
				</li>
			</div>
		{% else %}
			<div class="sub-login-buttons-leftNavbar">
				<li>
					<a href="#">
						<p class="subscribe-button-leftbar sub-login-left-navbar-labels">Subscribe</p>
					</a>
				</li>
				<li>
					<a>
						<p id="connect-mobile" class="default-bttn">Login</p>
					</a>
				</li>
			</div>
		{% endif %}

	</ul>
</nav>

