<nav class="left-navbar menu-labels">
	<ul>
		<li>
			<div class="link-animation-container">
				<label class="expand-label link-animation" for="expand-side-navbar"><img class="arrow-icon" src="/assets/images/Navbars/icon-left-arrow.png" title="Minimize menu" alt="Minimize menu"><p class="hide-labels">Minimize menu</p>
				</label>
			</div>
		</li>

		{# ------------------------ IF user is LOGGED IN, show welcome text---------------------------------------------------- #}
		{% if user.role %}
			<p class="welcome-user-leftNavbar">Welcome,
				{{ user.username }}!</p>
		{% endif %}

		<li>
			<div class="link-animation-container">
				<a href="/" class="link-animation" title="Home" alt="Home"><img class="home-icon side-navbar-icons" src="/assets/images/Navbars/icon-home.png"><p class="hide-labels">Home</p>
				</a>
			</div>
		</li>

		{# ------------------------ IF USER is LOGGED IN, show links for create playlist and liked songs ----------------------------- #}
		{% if user.role %}
			<li>
				<div class="link-animation-container">
					<a href="#" class="link-animation" title="Create Playlist" alt="Create Playlist"><img class="list-icon side-navbar-icons" src="/assets/images/Navbars/icon-list.png"><p class="hide-labels">Create Playlist</p>
					</a>
				</div>
			</li>
			<li>
				<div class="link-animation-container">
					<a href="#" class="link-animation" title="Liked Songs" alt="Liked Songs"><img class="heart-icon side-navbar-icons" src="/assets/images/Navbars/icon-heart.png"><p class="hide-labels">Liked Songs</p>
					</a>
				</div>
			</li>
		{% endif %}

		{# ------------------------ IF USER is LOGGED IN, show settings menus ---------------------------------------------------- #}
		{# ------------------------ SETTINGS menus ------------------------------------------------------------------ #}
		{% if user.role %}
			<input type="checkbox" class="expand-profile-checkbox expand-checkbox" id="expand-profile-checkbox"/>

			<li>
				<div class="link-animation-container">
					<label class="settings-admin-labels link-animation" for="expand-profile-checkbox"><img class="settings-icon side-navbar-icons" src="/assets/images/Navbars/settings.png"><p class="hide-labels">Settings</p>
						<img class="settings-arrow-icon menu-arrow-icon" src="/assets/images/Navbars/icon-left-arrow.png" title="Hide / Show Settings" alt="Hide / Show Show Settings">
					</label>
				</div>
			</li>

			<div class="profile-menus">
				<li>
					<div class="link-animation-container">
						<a href="/setting/profile?id={{ user.ID_user }}" title="Profile" alt="Profile">
							<p class="hide-labels link-animation">Profile</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="/setting/add_music" title="Add music" alt="Add music">
							<p class="hide-labels link-animation">Add music</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="#" title="Manage my tracks" alt="Manage my tracks">
							<p class="hide-labels link-animation">Manage my tracks</p>
						</a>
					</div>
				</li>
			</div>
		{% endif %}

		{# ------------------------ IF user is LOGGED IN as ADMIN, show Admin menus ---------------------------------------------------- #}
		{# ------------------------ ADMIN menus ------------------------------------------------------------------ #}
		{% if user.role == 'admin' or user.role == 'Admin'%}
			<input type="checkbox" class="expand-admin-checkbox expand-checkbox" id="expand-admin-checkbox"/>

			<li>
				<div class="link-animation-container">
					<label class="settings-admin-labels link-animation" for="expand-admin-checkbox"><img class="admin-icon side-navbar-icons" src="/assets/images/Navbars/admin.png"><p class="hide-labels">Admin</p>
						<img class="admin-arrow-icon menu-arrow-icon" src="/assets/images/Navbars/icon-left-arrow.png" title="Admin settings" alt="Admin settings">
					</label>
				</div>
			</li>

			<div class="admin-menu">
				<li>
					<div class="link-animation-container">
						<a href="/setting/admin" title="Manage all users" alt="Manager all users">
							<p class="hide-labels link-animation">Manage all users</p>
						</a>
					</div>
				</li>
				<li>
					<div class="link-animation-container">
						<a href="/setting/admin/manageMusics" title="Manage all tracks" alt="Manager all tracks">
							<p class="hide-labels link-animation">Manage all tracks</p>
						</a>
					</div>
				</li>
			</div>
		{% endif %}

		{# ------------------------ IF USER is LOGGED IN show logout bttn if not show login bttn-------------------------------- #}
		{% if user.role %}
			<div class="logout-bttn-leftnavbar">
				<li>
					<a href="/logout" class="link-animation" title="Logout" alt="Logout"><img class="logout-icon side-navbar-icons" src="/assets/images/Navbars/logout.png"><p class="hide-labels">Logout</p>
					</a>
				</li>
			</div>

		{% else %}
			<div class="sub-login-buttons-leftNavbar">
				<li>
					<a href="#" class="link-animation" title="Subscribe" alt="Subscribe"><img class="subscribe-icon side-navbar-icons" src="/assets/images/Navbars/subscribe.png"><p class="hide-labels">Subscribe</p>
					</a>
				</li>
				<li>
					<a href="#" class="link-animation" title="Login" alt="Login"><img class="login-icon side-navbar-icons" src="/assets/images/Navbars/login.png"><p class="hide-labels" id="connect-mobile">Login</p>
				  </a>
        </li>
			</div>
		{% endif %}

		{# ------------------------ IF USER IS NOT ADMIN show contact link -------------------------------- #}
		{% if user.role != 'admin' or user.role != 'Admin'%}
			<li>
				<div class="link-animation-container">
					<a href="#" class="link-animation" title="Contact" alt="Contact"><img class="contact-icon side-navbar-icons" src="/assets/images/Navbars/contact.png"><p class="hide-labels">Contact</p>
					</a>
				</div>
			</li>
		{% endif %}

	</ul>
</nav>
