/* HOMEPAGE */

.homepage-wrapper {
    padding: 0.5em 0;
    font-size: 16px;
    font-family: var(--mainFont);
}

.homepage-wrapper h2 {
    font-family: var(--titleFont);
    color: var(--colorMainFont);
    letter-spacing: 2px;
    padding: 0.2em;
    text-align: center;
}

/* Genre wrapper */

.multiple-item-wrapper {
    padding: 1em;
    margin: 1.2em 0.4em 2em;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
}

/* Single track wrapper */

.single-item-wrapper {
    padding: 0.5em;
    border-radius: 20px;
    width: 40%;
    border: 1px solid var(--backgroundBody);
}

.single-item-wrapper p {
    margin: 0 auto;
    text-align: center;
}

/* Track picture */

.img-and-icon {
    height: 25vw;
    width: 25vw;
    border-radius: 10px;
    margin: 0 auto 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Play button on track picture */

.home-play-icon {
    width: 2.5em;
    height: 2.5em;
    background-color: rgba(7, 7, 7, 0.3);
    border-radius: 50%;
    opacity: 0;
}

/* Artist name and song title */

.item-artist {
    color: var(--colorMainFont);
    padding: 0.2em;
}

.item-title {
    color: var(--colorSubFont)
}

@media screen and (min-width: 481px) {
    .homepage-wrapper {
        font-size: 1.2em;
        animation: smoothload 1.5s ease-out;
    }

    .homepage-wrapper h2 {
        margin: 0.3em auto 0 0;
        width: 90vw;
    }

    .multiple-item-wrapper {
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .single-item-wrapper {
        width: fit-content;
        padding: 0.5em;
        margin: 0 0.5em;
    }

    .img-and-icon {
        height: 8em;
        width: 8em;
    }

    .home-play-icon {
        bottom: 6em;
        left: 2.9em;
    }

    .single-item-wrapper p {
        margin-bottom: 0.5em;
        font-size: 0.9em;
    }
}

@media screen and (min-width: 769px) {

    .homepage-wrapper h2 {
        width: 85vw;
    }

    .multiple-item-wrapper {
        margin-left: 1em;
    }

    .single-item-wrapper:hover {
        border: 1px solid var(--colorObject);
    }

    .img-and-icon {
        height: 12em;
        width: 12em;
    }

    .img-and-icon:hover .home-play-icon{
        opacity: 1;
    }

    .item-artist, .item-title {
        max-width: 13em;
    }

    .home-play-icon {
        bottom: 8em;
        left: 4.8em;
        pointer-events: none;
    }

}
