.delete-adminpage {
    color: var(--colorMainFont);
    width: 50vw;
    margin: auto;
    margin-top: 5rem;
    background-color: #181818;
    border-radius: 20px;
    border: solid 1px var(--colorObject);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-delete-text {
    margin-bottom: 1rem;
}

.admin-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}
  @media screen and (max-width: 768px) {

   .admin-buttons{
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
   }

   .delete-adminpage {
    width: 70vw;
   }
  }