.delete-adminpage {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin-top: 40px;
    padding: 1rem 2rem;
    background-color: #181818;
    border: solid 1px var(--colorObject);
    border-radius: 20px;
}

.admin-delete-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    margin: 0;
    font-family: var(--mainFont);
    color: var(--colorMainFont);
    font-size: 6vw;
}

.setting-title {
    font-family: var(--mainFont);
    color: var(--colorMainFont);
    font-size: 20px;
}

.user-title {
    font-family: var(--mainFont);
    color: var(--colorObject);
    font-size: 25px;
}

@media screen and (min-width: 768px) {

    .delete-adminpage {
        animation: smoothload 1.5s ease-out;
    }

    .admin-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;
    }

    .delete-container {
        width: 60vw;
    }

    .page-title {
        font-size: 40px;
    }

    .setting-title {
        font-size: 22px;
    }

    .user-title {
        font-size: 35px;
    }
}