.delete-profile {
    width: 100%;
}

.delete-wildify-logo{
    text-align: center;
}

.delete-wildify-logo img{
    width: 70vw;
}

.delete-text {
    font-family: var(--mainFont);
    color: var(--colorMainFont);
    font-size: 20px;
    width: 80vw;
    margin: 20px auto;
    background-color: #181818;
    border-radius: 20px;
    border: solid 1px var(--colorObject);
    padding: 1rem 2rem;
}

.delete-validation{
    font-size: 20px;
    font-weight: bold;
    color: var(--colorObject);
    
}

.delete-text p span{
    font-weight: bold;
    color: var(--colorObject);
}

.btn-option.warning-option.adapt-btn {
    width: 260px;
}

@media screen and (min-width: 513px) {
    .delete-wildify-logo img{
        width: 359px;
    }
}

@media screen and (min-width: 768px) {
    .delete-wildify-logo img{
        width: initial;
    }

    .setting-title{
        font-size: 40px;
    }

    .delete-text {
        width: 70%;
    }

    .btn-option.warning-option.adapt-btn {
        width: 164px;
    }
}
