.cover-manage-track {
    width: 75px;
    height: auto;
    border-radius: 20px;
}

.manage-music-info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    margin: 15px auto;
    height: 90px;
    width: 85vw;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 25px #000000;
}

.info-title-artist {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.manage-song-artist {
    color: var(--colorSubDiscFont);
    font-size: 13px;
}

.manage-song-title {
    color: var(--colorSubFont);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.div-btn-manage-song {
    margin: auto 0;
}

.btn-option.manage {
    margin: initial;
    width: initial;
}

.song-link-manage-music {
    display: flex;
    text-decoration: none;
    width: 100%;
    align-items: center;
}

/*-------------------------------- Modal to confirm delete --------------------------- */
.no-music-found {
    font-family: var(--mainFont);
    color: var(--colorSubDiscFont);
    text-align: center;
}

.modal-delete-song {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    top: 80px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-music-body {
    position: relative;
    background-color: var(--backgroundNavTop);
    margin: auto;
    border-radius: 20px;
    border: solid 1px var(--colorObject);
    width: 90vw;
}

.modal-music-content {
    text-align: center;
    font-family: var(--mainFont);
    color: var(--colorMainFont);
    font-size: 20px;
}

.modal-music-text {
    font-family: var(--mainFont);
    color: var(--colorMainFont);
    font-size: 20px;
}

.modal-music-title {
    font-weight: bold;
    color: var(--colorObject);
}

.modal-music-artist {
    color: var(--colorObject);
}

@media screen and (min-width: 422px) {

    .modal-music-body {
        width: 379px
    }
}

@media screen and (min-width: 770px) {
    .manage-song-card {
        border-radius: 30px;
        margin: 20px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        font-family: var(--mainFont);
        transition: ease-out 0.5s;
    }

    .manage-music-info {
        display: flex;
        align-items: center;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0 0 25px #000000;
        margin: 18px;
        width: 310px;
    }

    .info-title-artist {
        width: 60%;
    }

    .manage-music-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .modal-delete-song {
        width: 100%;
        left: 0;
        top: 120px;
    }

    .modal-music-body {
        width: 446px;
    }

    .btn-option.modal-adapt {
        margin: 0 20px;
    }
}
