{% extends 'layout.html.twig' %}

{% block title %} Wildify | Admin USERS {% endblock %}

{% block content %}
    <section class="profile-section">

        <h1 class="setting-title"> Manage USER </h1>

    <section>
        {% for user in users %}
        <div class="admin">
            <div class="admin-table">
                <div class="user-padding">
                    <div class="userlabels"><p>Username:</p>{{ user.username }}</div>
                    <div class="userlabels"><p>Email:</p>{{ user.email }}</div>
                </div>
                <div class="delete-margin">
                    <a class="btn-option-admin warning-option" href="/setting/admin/delete?id={{user.ID_user}}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>


{% endblock %}
